h1{
    color: #023d6d;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-decoration: underline;
    border: 2px solid cadetblue;
    width: fit-content;
    margin: 30px auto;
}

.babyNames{
 border: #873e23;
 border-width: 10px;
 border-style: double;
 border-radius: 20px;
 font-family: 'Courier New', Courier, monospace;
 font-size: 20px;
 margin-top: 15px;
 padding: 10px;
 
}

input{
    margin: 0 auto;
    display: block;
}

.f{
    color:#eeeee4;
    background-color: #76b5c5;
}

.m{
    color: #063970;
    background-color: #eeeee4;

}
button{
    margin: 5px;
    padding: 3px;
    font-size: 20px;
    border-radius: 6px;
}

body{
    background-color: #fccc92;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.zero{
    color: #063970;
    text-align: center;
}

.favourites{
    color: #063970;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

